<!-- flashメッセージ表示の記述 -->
<div class="text-notice">
<%= flash[:notice] %>
</div>

<div class="text-success">
<%= flash[:success] %>
</div>

<div class="text-danger">
<%= flash[:danger] %>
</div>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</P>

<td>
  <%= link_to "Edit", edit_book_path(@book.id) %>
</td>

<td>|</td>

<td>
  <%= link_to "Back", books_path %>
</td>